
.arrow-icon-left {
  position: absolute;
  top: 25%;
  font-size: 3rem;
  z-index: 50;
  border-radius: 50%;
  padding: 0rem;
  cursor: pointer;
}

.slick-list{
  width: 300px;
  margin: auto;
}

.arrow-icon-right {
    position: absolute;
    top: 25%;
    right: 0;
    font-size: 3rem;
    z-index: 50;
    border-radius: 50%;
    cursor: pointer;
  }

  .js-image-zoom__zoomed-image{
    z-index: 999;
  }